{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<hr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>List of Courts</h1>
    <ul>
        {% for court in courts %}
            <li><a href="/court/{{ court.id }}">{{ court.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
<a href="/clubs">All clubs
<hr>
<a href="/addcourt">Add court</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
<hr<>
<a href="/registration">No account? REGISTER</a>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endif %}
